@import "../../sass/mixins/grid";

.about-me {
  max-width: 800px;
  margin: 0 auto;
  opacity: 0;
  
  .about-next-route {
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
  }

  .about-title {
    font-weight: bold;
  }

  .about-description {
    display: block;
    margin-bottom: 1rem;
  }

  .about-separate {
    margin: 2rem 0;
  }

  .about-typo {
    margin-bottom: 1.5rem;
  }

  .about-space-bottom {
    margin-bottom: 1.5rem;
  }

  @include _mGrid("row", 12, 16, (678));
}
